body {
    margin: 0;
    padding: 0;
    background-color: black; /* Nền đen */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  canvas {
    display: block;
  }
  